**/.DS_Store
images/*
# general things to ignore
build/
out/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.vscode/

# sphinx build output
docs/_build/

# due to using tox and pytest
.tox
.cache

nohup.out
